@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(246, 168, 226, 0.53)), url('./assets/images/cover.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgba(255, 122, 89, .1); */
}